// import in bootstrap instead of the link in index.html
// @import "../node_modules/bootstrap/scss/bootstrap";
// a mixin is a function or wrapper that duplicates something
// you do often 
@mixin background-it($path){
    background-image: $path;
    color:white;
    background-size: cover;
}

$image: url(/img/tree-3097419_960_720.jpg);
$text-color: yellow;

.custom {
    @include background-it($image)
}

.app-appear {
    opacity: 0.01;
}

.app-appear-active {
    opacity: 1;    
    transition: opacity .5s ease-in;
}