// import in bootstrap instead of the link in index.html
// @import "../node_modules/bootstrap/scss/bootstrap";
// a mixin is a function or wrapper that duplicates something
// you do often 
@mixin 

$image: url(/img/tree-3097419_960_720.jpg);
$text-color: yellow;

.custom {
    background-image: $image; 
    color: $text-color; 
    background-size: cover;
}